
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  background-color: #EADBC8;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

div.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: flex-start;
  margin-inline: auto;
  background-color: #102C57;
  color: #F8F0E5;
  padding: 10px;
  margin-block: 10px;
}

.container > p {
  margin: 0;
  margin-block: 10px;
  line-height: 25px;;
}

.container > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.container > div > h2 {
  width: 85%;
  font-size: 1.5rem;
  margin-block: 20px;
}

.container > div > span {
  font-size: 1.7rem;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-family: sans-serif;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: #EADBC8;
  color: #ef1f1f;
  border: 2px solid #102C57;
 margin-bottom: 20px;
}

button.multiple {
  color: #119111;
  border: 2px solid #102C57;
}

h1 {
  color: #102C57;
}
